.LatencyOverTime {
  .section-heading {
    display: flex;
    text-wrap: none;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    height: 36px;

    .section-label {
      float: left;
    }

    .Select {
      width: 160px;
      display: inline-block;
    }
  }

  .react-grid-Container {
    .react-grid-HeaderCell-sortable {
      padding-left: 14px;
      padding-top: 2px;
    }
    .react-grid-HeaderCell-sortable--ascending,
    .react-grid-HeaderCell-sortable--descending {
      padding-left: 0;
    }
  }

  .footer {
    margin-top: 4px;
  }
}
