.FuelOverTime {
  .section-heading {
    display: flex;
    text-wrap: none;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    height: 36px;

    .section-label {
      float: left;
    }
  }
}
