.Primary {
  .loading {
    position: absolute;
    width: 110%;
    height: 110%;
    left: -20px;
    top: -20px;
    padding: 30% 50%;
    z-index: 100;

    content: 'Loading';
    background-color: #fff;
    opacity: .7;
  }

  header {
    margin-bottom: 20px;
    display: flex;

    .instruction {
      margin-top: 6px;
    }

    .controls {
      display: flex;
      text-wrap: none;
      flex-basis: 100%;
      justify-content: flex-start;
    }

    .upload-file {
      margin-right: 20px;
      border-color: #ccc;
      width: 140px;
      font-size: 14px;
    }

    .Select {
      width: 160px;
    }

    .Nav {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;

      .nav-item {
        margin: 6px 20px;
        height: 40px;
      }
    }
  }
  .app-main {
    display: flex;
    justify-content: flex-start;

    .content {
      width: calc(100% - 160px);
    }
  }
}
